@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*sets the background image, font, and color.*/

body {
    background-image: url(../images/galaxy-3607885_1920.jpg);
    background-position: center;
    background-repeat: repeat-y;
    font-family: Righteous, sans-serif;
    color: aliceblue;
    text-align: center;
}

/* sets the styles of the user choice and the game outcome tiles*/

#game-container {
    width: 60%;
    margin: auto;
    text-align: center;
}

.swal-height {
    height: 200px;
    width: 200px;
    font-size: 10px;
}

#result-container {
    margin: auto;
    text-align: center;
    padding-top: 25px;
}

/*below sets the images that populate the game buttons*/

#rock {
    background-image: url("../images/fist1.png");
}

#paper {
    background-image: url("../images/paper2.png");
}

#scissors {
    background-image: url("../images/scissors1.png")
}

#lizard {
    background-image: url("../images/lizard5.png")
}

#spock {
    background-image: url("../images/spock.png")
}

/*set the styles of the individual icons*/

.icons {
    width: 150px;
    height: 100px;
    background-color: #ffea00;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.icons:active {
    background-color: #ce6d6d;
    box-shadow: 0 5px #666;
}

#result-display {
    margin-right: 30px;
}

#cpu-display {
    margin-left: 30px;
}

#centerText {
    font-size: 40px;
    color: white;
}

/*move the youtube clip to the center of the screen*/

.video {
    text-align: center;
}

#returnGamePage {
    text-decoration: none;
    color: aliceblue;
    padding-top: 75px;
    font-size: 50px;
}

.headerLogo {
    text-decoration: none;
    color: aliceblue;
    font-size: 50px;
}

#chooseWeapon {
    font-size: 30px;
}

.headerHowToPlay {
    padding: 75px;
}

#howToPlay {
    width: 200px;
    height: 150px;
    background-color: aqua;
    font-family: Righteous, sans-serif;
    font-size: x-large;
    border-radius: 10px;
    margin-top: 20px;
}

/*changes size for smaller screens*/

@media screen and (max-width: 750px) {
    .icons {
        width: 75px;
        height: 50px
    }

    .headerLogo {
        font-size: 30px;
    }

    #returnGamePage {
        font-size: 30px;
    }

    iframe {
        width: 300px;
        height: 150px;
    }

    .game-container {
        padding-top: 0;
    }

    #howToPlay {
        width: 100px;
        height: 75px;
    }

    #centerText {
        font-size: 20px;
    }

    #result-display {
        margin: 0;
    }

    #cpu-display {
        margin: 0;
    }


}

/* Wave effect code sourced from https: //alvarotrigo.com/blog/css-text-animations/ */

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}