@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-image: url(../images/galaxy-3607885_1920.jpg);
    background-position: center;
    background-repeat: repeat-y;
    font-family: Righteous, sans-serif;
    color: aliceblue;
    text-align: center;
}

#game-container {
    width: 60%;
    margin: auto;
    text-align: center;

}



#result-display {
    width: 33%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#rock {
    background-image: url("../images/rock4.png");
}

#paper {
    background-image: url("../images/paper1.png");
}

#scissors {
    background-image: url("../images/scissors1.png")
}

#lizard {
    background-image: url("../images/lizard1.png")
}

#spock {
    background-image: url("../images/spock.png")
}

p {
    font-size: xx-large;
    margin-top: 50px;
}

.icons {
    width: 150px;
    height: 100px;
    background-color: aqua;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.icons:active {
    background-color: #ce6d6d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#user-selection {
    margin-top: 50px;

}

#cpu-selection {
    margin-top: 50px;
}

.video {
    text-align: center;
}